.contacto {
	margin: 0px 0px;
	padding: 20px 0px;
	.contact-text {
		//background: rgba(84, 140, 168, 0.3);
		border: 1px solid #4db2ce;
		border-radius: 10px;
		width: 500px;
		margin: 30px auto;
		text-align: center;
		padding-bottom: 10px;
		@media screen and (min-width: 0) and (max-width: 700px) {
			width: 80%;
		}
		h4 {
			margin: 10px auto;
			border-bottom: 1px solid #4db2ce;
			width: 200px;
			padding: 3px;
		}
	}
	.form-container {
		width: 40%;
		max-width: 1100px;
		margin: 0px auto;
		min-width: 500px;
		@media screen and (min-width: 0) and (max-width: 700px) {
			width: 80%;
			min-width: 100px;
		}
		form {
			//background: rgba(84, 140, 168, 0.3);
			padding: 20px 0px;
			display: flex;
			flex-direction: column;
			border: 1px solid #4db2ce;
			border-radius: 10px;
			textarea {
				min-width: 400px;
				width: 80%;
				max-width: 500px;
				margin: 20px auto;
				border-radius: 5px;
				resize: none;
				padding: 10px 20px;
				border: 2px solid #334257;
				@media screen and (min-width: 0) and (max-width: 700px) {
					width: 80%;
					min-width: 100px;
				}
			}
			label {
				width: 80%;
				margin: 10px auto;
				text-align: left;
				padding-left: 5px;
				//font-size: 16px;
				text-decoration: underline;
				max-width: 500px;
				@media screen and (min-width: 0) and (max-width: 700px) {
					width: 80%;
					min-width: 100px;
				}
			}
			input {
				min-width: 400px;
				border: 2px solid #334257;
				width: 80%;
				max-width: 500px;
				border-radius: 5px;
				margin: 0px auto;
				padding: 10px 20px;
				@media screen and (min-width: 0) and (max-width: 700px) {
					width: 80%;
					min-width: 100px;
				}
			}
			.form-btn {
				background: #112b3c;
				border: 2px solid black;
				color: white;
			}
			.form-btn:hover {
				opacity: 0.75;
			}
		}
	}
	//LINKS DE CONTACTO DEL FINAL
	.contact-info {
		margin: 50px auto;
		border-bottom: 1px solid #4db2ce;
		width: 40%;
		text-align: center;
		padding: 2px;
	}
	.iconos-contacto {
		/*
        display: flex;
        width: 60%;
        margin: 10px auto;
        border: 1px solid black;
        justify-content: space-around;
        height: 100px;
        */
		border: 2px solid black;
		border-radius: 10px;
		margin: 10px auto;
		width: 40%;
		min-width: 410px;
		max-width: 600px;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		@media screen and (min-width: 0) and (max-width: 700px) {
			width: 80%;
			min-width: 100px;
		}
		.icons-container {
			p {
				text-align: center;
				margin: 10px auto;
				border-bottom: 1px solid #4db2ce;
			}
			a {
				margin: 10px auto;
				display: block;
				text-align: center;
				img {
					box-sizing: content-box;
					border: 1px solid transparent;
					width: 50px;
					height: 50px;
					border: 1px solid black;
					border-radius: 10px;
					padding: 10px;
				}
				img:hover {
					border: 1px solid #4db2ce;
				}
			}
		}
	}
}
